<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <title>Подтверждение регистрации</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f5f5f5; /* Светло-серый фон */
      color: #333333; /* Черный цвет текста */
    }

    h1, h2, h3, h4, h5, h6 {
      color: #000000; /* Черный цвет заголовков */
    }

    .container {
      background-color: #ffffff; /* Белый фон контейнера */
      border-radius: 5px; /* Закругленные углы контейнера */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень контейнера */
      padding: 20px; /* Внутренний отступ контейнера */
    }
    }
  </style>
</head>
<body>
<header th:insert="~{/fragments/navbar-fragment}"></header>
<div class="container w-25">
  <div class="confirmation-container">
    <h1>Подтверждение регистрации</h1>
    <p>Код подтверждения отправлен на почтовый ящик: <strong th:text="${email}"></strong></p>
    <form th:action="@{/auth/register/confirm}" method="post">
      <div class="form-group">
        <label for="code">Код подтверждения:</label>
        <input type="text" id="code" class="form-control" name="code" required="required" />
      </div>
      <div>
        <input type="submit" value="Подтвердить" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
