<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Расчет стоимости доставки</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body class="bg-dark text-white" style="
background-image: image('/static/background.jpg');
background-size: auto;
opacity: 100%;
">
<header th:insert="fragments/navbar"></header>
<div>
<div class="container bg-dark">

    <h1 class="mt-5">Расчет стоимости доставки</h1>
    <form th:action="@{/calculate}" method="post" >
        <div class="row g-3">
            <div class="col-md-3">
                <label for="cityFrom" class="form-label">Город отправления</label>
                <input type="text" class="form-control" id="cityFrom" name="cityFrom" placeholder="Введите город отправления">
            </div>
            <div class="col-md-3">
                <label for="cityTo" class="form-label">Город назначения</label>
                <input type="text" class="form-control" id="cityTo" name="cityTo" placeholder="Введите город назначения">
            </div>
            <div class="col-md-4">
                <label for="weight" class="form-label">Вес груза (кг)</label>
                <input type="number" class="form-control" id="weight" name="weight" placeholder="Введите вес груза">
            </div>
            <div class="col-md-4">
                <label for="length" class="form-label">Длина (м)</label>
                <input type="number" step="0.01" class="form-control" id="length" name="length" placeholder="Введите длину груза">
            </div>
            <div class="col-md-4">
                <label for="width" class="form-label">Ширина (м)</label>
                <input type="number" step="0.01" class="form-control" id="width" name="width" placeholder="Введите ширину груза">
            </div>
            <div class="col-md-6">
                <label for="height" class="form-label">Высота (м)</label>
                <input type="number" step="0.01" class="form-control" id="height" name="height" placeholder="Введите высоту груза">
            </div>
            <div class="col-md-6">
                <label for="cargoType" class="form-label">Тип груза</label>
                <input type="text" class="form-control" id="cargoType" name="cargoType" placeholder="Введите тип груза">
            </div>
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary">Рассчитать стоимость доставки</button>
            </div>

        </div>
    </form>

    <div class="card mt-5 bg-dark bg-gradient">
        <div class="card-body">
            <h5 class="card-title">Результаты расчета</h5>
            <p class="card-text">Стоимость доставки: <span th:text="${deliveryCost}"></span></p>
            <a href="/" class="btn btn-primary">Сбросить</a>
        </div>
    </div>
</div>
</div>
</body>
</html>
