<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <title>Логистический веб-сервис</title>
  <!-- Подключение стилей и скриптов -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Включение навигационной панели -->
<header th:insert="~{/fragments/navbar}"></header>

<div class="container">
  <h1>Логистический веб-сервис</h1>
  <p>Добро пожаловать в логистический веб-сервис. Здесь вы можете управлять заказами и рассчитывать стоимость доставки.</p>

  <!-- Добавьте здесь описание и функционал вашего веб-сервиса -->

</div>
</body>
</html>
